@import "tailwindcss";

@theme {
  --color-background: #0B0F1A;
  --color-card: #111827;
  --color-primary: #3B82F6;
  --color-accent: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-text: #E5E7EB;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1F2937;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
